
Study/LHR/UnityStudy/UnityStudyProject/Temp/UnityLockfile
Study/LHR/UnityStudy/Test_ModelUse/Library/CurrentLayout.dwlt
Study/LHR/UnityStudy/Test_ModelUse/Assets/Scenes/SampleScene.unity.meta
Study/LHR/UnityStudy/Test_ModelUse/Assets/Scenes/SampleScene.unity
Study/LHR/UnityStudy/Test_ModelUse/Assets/Scenes.meta
Study/LHR/UnityStudy/Test_ModelUse/Temp/UnityLockfile
Study/LHR/UnityStudy/Rotation/Assembly-CSharp.csproj
Study/LHR/UnityStudy/Rotation/Assembly-CSharp.csproj
Study/LHR/UnityStudy/Rotation/Assembly-CSharp.csproj
Study/LHR/UnityStudy/Rotation/Library/EditorInstance.json
Study/LHR/UnityStudy/Rotation/Library/shadercompiler-UnityShaderCompiler.exe0.log
Study/LHR/UnityStudy/Rotation/Temp/ProcessJobs/1f068db059d5cf0261a3b566803bc6c6.bakert
Study/LHR/UnityStudy/Rotation/Temp/UnityLockfile
Study/LHR/UnityStudy/Rotation/Assembly-CSharp.csproj
Study/LHR/UnityStudy/Rotation/Library/shadercompiler-UnityShaderCompiler.exe0.log
Study/LHR/UnityStudy/Third Person Game/Temp/UnityLockfile
Study/LHR/UnityStudy/Third Person Game/Library/EditorInstance.json
Study/LHR/UnityStudy/Third Person Game/Library/shadercompiler-UnityShaderCompiler.exe0.log
Study/LHR/UnityStudy/Third Person Game/Temp/ProcessJobs/1f068db059d5cf0261a3b566803bc6c6.bakert

# Created by https://www.gitignore.io/api/unity
# Edit at https://www.gitignore.io/?templates=unity

### Unity ###
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/

# Never ignore Asset meta data
![Aa]ssets/**/*.meta

# Uncomment this line if you wish to ignore the asset store tools plugin
# [Aa]ssets/AssetStoreTools*

# TextMesh Pro files
[Aa]ssets/TextMesh*Pro/

# Visual Studio cache directory
.vs/

# Gradle cache directory
.gradle/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.log

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated file on crash reports
sysinfo.txt

# Builds
*.apk
*.unitypackage

# Crashlytics generated file
crashlytics-build.properties


# End of https://www.gitignore.io/api/unity
Howling/.vs/Howling/v15/.suo
Howling/.vs/Howling/v15/Server/sqlite3/storage.ide-shm
Howling/.vs/Howling/v15/Server/sqlite3/storage.ide-wal
Howling/Assembly-CSharp-Editor.csproj
Howling/Assembly-CSharp.csproj
Howling/Library/assetDatabase3
Howling/Library/InspectorExpandedItems.asset
Howling/Library/LastSceneManagerSetup.txt
Howling/Library/metadata/86/8647bad2627f3dc44bd600bf66775ee7
Howling/Library/ScriptAssemblies/Assembly-CSharp-Editor.dll
Howling/Library/ScriptAssemblies/Assembly-CSharp-Editor.pdb
Howling/Library/ScriptAssemblies/Assembly-CSharp.dll
Howling/Library/ScriptAssemblies/Assembly-CSharp.pdb
Howling/Library/ScriptAssemblies/Unity.Analytics.DataPrivacy.dll
Howling/Library/ScriptAssemblies/Unity.Analytics.DataPrivacy.pdb
Howling/Library/ScriptAssemblies/Unity.CollabProxy.Editor.dll
Howling/Library/ScriptAssemblies/Unity.CollabProxy.Editor.pdb
Howling/Library/ScriptAssemblies/Unity.PackageManagerUI.Editor.dll
Howling/Library/ScriptAssemblies/Unity.PackageManagerUI.Editor.pdb
Howling/Library/ScriptAssemblies/Unity.TextMeshPro.dll
Howling/Library/ScriptAssemblies/Unity.TextMeshPro.Editor.dll
Howling/Library/ScriptAssemblies/Unity.TextMeshPro.Editor.pdb
Howling/Library/ScriptAssemblies/Unity.TextMeshPro.pdb
Howling/Library/shadercompiler-UnityShaderCompiler.exe0.log
Howling/Library/StateCache/Hierarchy/ad5b92-mainStage.json
Howling/obj/Debug/Assembly-CSharp-Editor.csproj.CoreCompileInputs.cache
Howling/obj/Debug/Assembly-CSharp-Editor.csprojAssemblyReference.cache
Howling/obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
*.log
*.log
