
Study/LHR/UnityStudy/UnityStudyProject/Temp/UnityLockfile
Study/LHR/UnityStudy/Test_ModelUse/Library/CurrentLayout.dwlt
Study/LHR/UnityStudy/Test_ModelUse/Assets/Scenes/SampleScene.unity.meta
Study/LHR/UnityStudy/Test_ModelUse/Assets/Scenes/SampleScene.unity
Study/LHR/UnityStudy/Test_ModelUse/Assets/Scenes.meta
Study/LHR/UnityStudy/Test_ModelUse/Temp/UnityLockfile
Study/LHR/UnityStudy/Rotation/Assembly-CSharp.csproj
Study/LHR/UnityStudy/Rotation/Assembly-CSharp.csproj
Study/LHR/UnityStudy/Rotation/Assembly-CSharp.csproj
Study/LHR/UnityStudy/Rotation/Library/EditorInstance.json
Study/LHR/UnityStudy/Rotation/Library/shadercompiler-UnityShaderCompiler.exe0.log
Study/LHR/UnityStudy/Rotation/Temp/ProcessJobs/1f068db059d5cf0261a3b566803bc6c6.bakert
Study/LHR/UnityStudy/Rotation/Temp/UnityLockfile
Study/LHR/UnityStudy/Rotation/Assembly-CSharp.csproj
Study/LHR/UnityStudy/Rotation/Library/shadercompiler-UnityShaderCompiler.exe0.log
Study/LHR/UnityStudy/Third Person Game/Temp/UnityLockfile
Study/LHR/UnityStudy/Third Person Game/Library/EditorInstance.json
Study/LHR/UnityStudy/Third Person Game/Library/shadercompiler-UnityShaderCompiler.exe0.log
Study/LHR/UnityStudy/Third Person Game/Temp/ProcessJobs/1f068db059d5cf0261a3b566803bc6c6.bakert

# Created by https://www.gitignore.io/api/unity
# Edit at https://www.gitignore.io/?templates=unity

### Unity ###
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/

# Never ignore Asset meta data
![Aa]ssets/**/*.meta

# Uncomment this line if you wish to ignore the asset store tools plugin
# [Aa]ssets/AssetStoreTools*

# TextMesh Pro files
[Aa]ssets/TextMesh*Pro/

# Visual Studio cache directory
.vs/

# Gradle cache directory
.gradle/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated file on crash reports
sysinfo.txt

# Builds
*.apk
*.unitypackage

# Crashlytics generated file
crashlytics-build.properties


# End of https://www.gitignore.io/api/unity
Howling/.vs/Howling/v15/.suo
Howling/.vs/Howling/v15/Server/sqlite3/storage.ide
Howling/.vs/Howling/v15/Server/sqlite3/storage.ide-shm
Howling/.vs/Howling/v15/Server/sqlite3/storage.ide-wal
Howling/obj/Debug/Assembly-CSharp-Editor.csproj.CoreCompileInputs.cache
Howling/obj/Debug/Assembly-CSharp-Editor.csprojAssemblyReference.cache
Howling/obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
Howling/obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
Howling/obj/Debug/Assembly-CSharp-Editor.csprojAssemblyReference.cache
Howling/obj/Debug/Assembly-CSharp-Editor.csproj.CoreCompileInputs.cache
Howling/Library/metadata/a5/a571d3ef435765c4294ab1efefe0e85b.info
Howling/Library/metadata/a5/a571d3ef435765c4294ab1efefe0e85b
Howling/Library/metadata/1e/1ef467120883e4c42b7d3243816f9dbe
Howling/Library/assetDatabase3
Howling/Assets/Test/MLWolfTest/Brains.meta
Howling/.vs/Howling/v15/Server/sqlite3/storage.ide-wal
Howling/.vs/Howling/v15/Server/sqlite3/storage.ide-shm
Howling/.vs/Howling/v15/Server/sqlite3/storage.ide
Howling/.vs/Howling/v15/.suo
